@import './variables.scss';
@import './z-index.scss';
@import './animations.scss';
@import './components/terminal.scss';
@import './components/resize-handle.scss';
@import './components/code.scss';
@import './components/editor.scss';
@import './components/toast.scss';

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
